{% extends 'index.html' %}
{% load static %}

{% block main %}

<main>
    <!-- section-->
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {% if skin_type == "all" %}
                                Products
                                {% else %}
                                {{skin_type}}
                                {% endif %}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <div class="mt-8 mb-lg-14 mb-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row gx-10">
                <section class="col-lg-12 col-md-12">
                    <!-- card -->
                    <div class="card mb-4 bg-light border-0">
                        <!-- card body -->
                        <div class="card-body p-9">
                            <h2 class="mb-0 fs-1">
                                {% if skin_type == "all" %}
                                Products
                                {% else %}
                                {{skin_type}}
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                    <!-- list icon -->
                    <div class="d-lg-flex justify-content-between align-items-center">
                        <div class="mb-3 mb-lg-0">
                            <p class="mb-0">
                                <span class="text-dark">{{ Products|length }}</span>
                                Products found
                            </p>
                        </div>

                        <!-- icon -->
                        <div class="d-md-flex justify-content-between align-items-center">
                            <div class="d-flex mt-2 mt-lg-0">
                                <div>
                                    <!-- select option -->
                                    <select class="form-select">
                                        <option selected>Sort by: Featured</option>
                                        <option value="Low to High">Price: Low to High</option>
                                        <option value="High to Low">Price: High to Low</option>
                                        <option value="Release Date">Release Date</option>
                                        <option value="Avg. Rating">Avg. Rating</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 row-cols-lg-4 row-cols-1 row-cols-md-2 mt-3">
                        {% for product in Products%}
                        <div class="col">
                            <div class="card card-product" style="height: 480px;">
                                <div class="card-body p-4">
                                    <div class="text-center position-relative px-0">
                                        {% if forloop.counter|divisibleby:2 %}
                                        <div class="position-absolute top-0 start-0">
                                            <span class="badge bg-danger">{{product.weight}}</span>
                                        </div>
                                        {% else %}
                                        <div class="position-absolute top-0 start-0">
                                            <span class="badge  bg-success">{{product.weight}}</span>
                                        </div>
                                        {% endif %}
                                        <a href="/singleproduct/{{product.productCode}}/">
                                            <img src="{{product.productBanner.url}}"
                                                style="height: 350px;object-fit: cover;width: 100%"
                                                alt="{{product.productName}}" class="mb-3 img-fluid rounded" />
                                        </a>
                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="modal"
                                                data-bs-target="#quickViewModal">
                                                <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                                    title="Quick View"></i>
                                            </a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                                title="Wishlist"><i class="bi bi-heart"></i></a>
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                                title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-small mb-1">
                                        <a href="#!"
                                            class="text-decoration-none text-muted"><small>{{product.skinType}}</small></a>
                                    </div>
                                    <h2 class="fs-6"><a href="./pages/shop-single.html"
                                            class="text-inherit text-decoration-none text-lowercase">{{product.productName}}</a>
                                    </h2>
                                    <div>
                                        <small class="text-warning">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                        </small>
                                        <span class="text-muted small">4.5(149)</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            <span class="text-dark">₹{{product.newPrice}}</span>
                                            <span
                                                class="text-decoration-line-through text-muted">₹{{product.oldPrice}}</span>
                                        </div>
                                        <div>
                                            <a href="#!" class="btn btn-primary btn-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                                Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </section>
            </div>
        </div>
    </div>
</main>

{% endblock %}